header {
  width: 100%;
  height: 200px;
}

header h1 {
  text-align: center;
  height: 200px;
  line-height: 200px;
  font-size: 4rem;
}

header h1 span {
  color: #00bcf2;
  text-shadow: -3px 0px #000, 0px 3px #000, 3px 0px #000, 0px -3px #000;
}

.wrap {
  width: 100%;
  height: 600px;
}

.wrap .team_intro {
  float: left;
  margin-left: 50px;
}

.wrap .team_goal {
  float: right;
  margin-right: 50px;
}

.team_intro,
.team_goal {
  width: 490px;
  height: 500px;
  margin: 40px;
  text-align: center;
  border: 3px solid #bbb;
  border-radius: 30px;
  background-color: #fff;
}

.team_intro h4,
.team_goal h4 {
  font-size: 2rem;
  margin-top: 40px;
}

#ip {
  text-shadow: -2px 0px #000, 0px 2px #000, 2px 0px #000, 0px -2px #000;
  color: #00bcf2;
}

.team_intro p,
.team_goal p {
  margin-top: 45px;
  font-family: "bitbit";
  letter-spacing: 0.2rem;
}

/* emoji */
.emoji {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
  margin-bottom: 60px;
}

.person {
  position: relative;
  width: 30%;
  height: 20rem;
  border-radius: 1rem;
  perspective: 500px;
  cursor: pointer;
}

.person .card {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.person:hover .card {
  transform: rotateY(180deg);
}

.person .card > div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 20px;
  backface-visibility: hidden;
}

.person .one .card-front {
  background-color: #dfe5ea;
  z-index: 10;
  background-image: url(../img/pngwing.com.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

.person .two .card-front {
  background-color: #f0dbd4;
  z-index: 10;
  background-image: url(../img/pngwing.com.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

.person .tree .card-front {
  background-color: #eadcde;
  z-index: 10;
  background-image: url(../img/pngwing.com.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

.person .one .card-back {
  background-color: #dfe5ea;
  z-index: 5;
  transform: rotateY(180deg);
  background-image: url(../img/emoji_minseok.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.person .two .card-back {
  background-color: #f0dbd4;
  z-index: 5;
  transform: rotateY(180deg);
  background-image: url(../img/emoji_mirae2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.person .tree .card-back {
  background-color: #eadcde;
  z-index: 5;
  transform: rotateY(180deg);
  background-image: url(../img/emoji_yuna.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* member */
.member {
  width: 1072px;
  height: 650px;
  margin: 0 auto;
  margin-top: 30px;
}

.member .profile_wrap .left {
  float: left;
  width: 500px;
  height: 650px;
  position: relative;
}

.member .profile_wrap .right {
  float: right;
  width: 500px;
  height: 650px;
  border: 3px solid #bbb;
  padding-top: 70px;
  font-family: "bitbit";
  font-size: 2rem;
  letter-spacing: 0.15rem;
  text-align: center;
}

.profile_wrap > .left > .weather {
  width: 500px;
  height: 70px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 70px;
  font-family: "bitbit";
  color: #aaa;
}

.profile_wrap > .left > .weather p {
  display: inline-block;
}

.member .left img {
  width: 500px;
  height: 550px;
  object-fit: cover;
}
.member2 img {
  object-position: 0 0;
}

.member .right p {
  margin-bottom: 35px;
}

.member .comment_wrap {
  margin: 70px 0 100px 0;
  width: 100%;
  height: 150px;
  float: left;
  position: relative;
}

.member .comment_wrap .comment_box {
  width: 100%;
  height: 120px;
  font-size: 1.5rem;
  padding: 15px;
  border: 3px solid #bbb;
  background-color: #fff;
  border-radius: 15px;
}

.comment_btn {
  width: 60px;
  height: 30px;
  top: 120px;
  right: 5px;
  margin-top: 15px;
  position: absolute;
  border-radius: 5px;
  background-color: #fff;
}

.delete_btn {
  position: absolute;
  right: 18px;
  top: 24px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 0;
  background: transparent;
}

.commented {
  width: 100%;
  margin: 100px auto;
}

.commented p {
  border-bottom: 2px solid #ddd;
  height: 65px;
  line-height: 65px;
  font-size: 1rem;
  text-indent: 15px;
  position: relative;
}
.commented .time {
  position: absolute;
  right: 60px;
  color: #999;
}

.commented p:nth-child(even) {
  background-color: #bbb;
}
.aaa {
  width: 100%;
  background-color: rgb(219, 217, 217);
}

.bbb {
  width: 100%;
  background-color: rgb(240, 238, 238);
}

/* .member .comment {
  margin: 0 auto;

  position: relative;
  width: 1065px;
  height: 100px;
  top: 1000px;
  text-align: center;
  border-bottom: 1px solid #555;
} */
.weather_hot {
  color: #d83f31;
}

.weather_warm {
  color: #ee9322;
}

.weather_cool {
  color: #8ddfcb;
}

.weather_cold {
  color: #82a0d8;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.up {
  position: fixed;
  bottom: 40%;
  right: 20px;
  font-size: 25px;
}
