/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  height: 650px;
  background-color: #eee;
  font-size: 20px;
  margin: 0 auto;
  font-family: "맑은 고딕";
  color: #333333;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}
